<div class="container pv-30">
  <div class="d-flex align-items-center mb-16">
    <app-breadcrumb class="mr-auto" [segments]="segments"></app-breadcrumb>

    <button *ngIf="canDelete" class="mr-8" mat-button color="warn" (click)="deleteUseCase()">
      <mat-icon class="mi-16 mr-6">delete</mat-icon>
      <span>{{ 'USE_CASE.DELETE_USE_CASE' | translate }}</span>
    </button>

    <ng-container *ngIf="currentForm$ | async as form">
      <a
        *ngIf="canEdit(form)"
        mat-button
        color="primary"
        [routerLink]="['/use-cases', 'edit', useCase.id, form]"
      >
        <mat-icon class="mi-16 mr-6">edit</mat-icon>
        <span>{{ 'USE_CASE.EDIT_USE_CASE' | translate }}</span>
      </a>
    </ng-container>
  </div>

  <mat-card class="header-card br-8">
    <h1
      class="mat-h1 mw-200 use-case-name"
      matTooltipPosition="left"
      matTooltipClass="use-case-name-tooltip"
      [matTooltip]="useCase.name"
    >
      {{ useCase.name }}
    </h1>

    <div>
      <p class="label">{{ 'USE_CASE.STATUS_LABEL' | translate }}:</p>
      <span [style.color]="getStatusColor(useCase.status)">
        {{ getStatusLabel(useCase.status) | translate }}
      </span>
    </div>

    <div class="mw-300" *ngIf="getDescription(useCase) as description">
      <p class="label">{{ 'USE_CASE.SHORT_DESCRIPTION' | translate }}:</p>
      <span>
        {{ description | truncate: 80 }}
      </span>
    </div>

    <div *ngIf="useCase.plantId">
      <p class="label">{{ 'USE_CASE.PLANT' | translate }}:</p>
      <span>{{ plant?.name }}</span>
    </div>

    <div>
      <p class="label">{{ 'USE_CASE.LAST_CHANGED' | translate }}:</p>
      <span>{{ useCase.updatedAt | date: 'short' }}</span>
    </div>

    <div>
      <p class="label">{{ 'USE_CASE.REQUESTOR' | translate }}:</p>
      <span>{{ useCase.createdBy | username }}</span>
    </div>
  </mat-card>

  <mat-card class="steps-card br-8">
    <app-use-case-steps
      class="pv-6"
      [steps]="steps$ | async"
      [currentStepIndex]="currentStepIndex$ | async"
    ></app-use-case-steps>
  </mat-card>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="64px" expandedHeight="64px">
        <mat-panel-title class="mat-h1">
          {{ 'FORMS.TITLES.INITIAL_REQUEST' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-initial-request-overview
        [formStep]="getFormStep('initial-request')"
        [exampleAttachments]="exampleAttachments"
        [useCase]="useCase"
      >
      </app-initial-request-overview>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="64px" expandedHeight="64px">
        <mat-panel-title class="mat-h1">
          {{ 'FORMS.TITLES.INITIAL_FEASIBILITY_CHECK' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-initial-feasibility-check-overview
        [formStep]="getFormStep('initial-feasibility-check')"
        [useCase]="useCase"
      >
      </app-initial-feasibility-check-overview>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="64px" expandedHeight="64px">
        <mat-panel-title class="mat-h1">
          {{ 'FORMS.TITLES.DETAILED_REQUEST' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-detailed-request-overview
        [formStep]="getFormStep('detailed-request')"
        [useCase]="useCase"
        [attachments]="variantAttachments"
        [variants]="getVariants(useCase)"
      >
      </app-detailed-request-overview>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="64px" expandedHeight="64px">
        <mat-panel-title class="mat-h1">
          {{ 'FORMS.TITLES.USE_CASE_OFFER' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-offer-overview [formStep]="getFormStep('offer')" [useCase]="useCase">
      </app-offer-overview>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="64px" expandedHeight="64px">
        <mat-panel-title class="mat-h1">
          {{ 'FORMS.TITLES.USE_CASE_ORDER' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-order-overview [formStep]="getFormStep('offer')" [useCase]="useCase">
      </app-order-overview>
    </mat-expansion-panel>
  </mat-accordion>
</div>
